/* write CSS for a form  */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*write CSS for the input fields*/
.input-field {
    width: 30%;
    padding: 20px;
    margin: 5px auto;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #f4f6ff;
    color: black;
    box-shadow: 0px 0px 10px #0000001a;
    transition: all 0.3s ease-in-out;
}